<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.module_home">

    <application>
        <activity
            android:name="com.hy.module_home.HomeDetail"
            android:exported="true" />
    </application>

</manifest>